%section.rabotaet-1
  .cont
    .num
    .left
      %h4
        Создай задание.
      .line
      .description
        Опиши словами, что тебе нужно. Прикрепи фотографию. Если хочешь, то сможешь точно настроить заявку – бюджет, срок пока она актуальна, удобное время для выполнения задачи.
    .right
      = image_tag "rabotaet-1.png"
    .clear

%section.rabotaet-2
  .cont
    .num
    .left
      = image_tag "rabotaet-2.png"
    .right
      %h4
        Изучи ответы.
      .line
      .description
        Все мастера нужного тебе профиля получат оповещение о твоей заявке. Они откликнутся на задание, и ты сможешь выбрать лучшего. Кстати, Делоруб не покажет мастерам твои контакты, они смогут только откликаться на заявку. Ты сам решаешь, с кем стоит связаться. 
    .clear

%section.rabotaet-3
  .cont
    .num
    .left
      %h4
        Оцени работу мастера.
      .line
      .description
        Мастер выбран, встреча состоялась, проблема решена. Что еще? <br>
        Делорубу нужен твой отзыв! <br>
        Поставь оценку мастеру, загрузи фото сделанной работы. Будь предельно честен и прям. Так ты поможешь сотням других гостей сайта выбрать лучшего мастера.
    .right
      = image_tag "rabotaet-3.png"
    .clear

%section.garant
  .cont
    %h3 Гарантии и Безопасность
    .description
      %p Учтите, что Бюро Мастеров это сервис поиска мастеров, мы не несем никакой ответственности за действия мастера - Ваша безопасность в ваших руках.
      %p Мы строго следим за порядком внутри нашего сервиса - рекомендуем выбирать мастеров с отметкой  «Данные проверены». Это означает, что  персональные данные исполнителя проверены(паспорт, образование). 
      %p Ответственность за результат лежит на специалисте, которого вы выберете сами. Все передачи денежных средств фиксируйте чеком или распиской, а перед началом работ, советуем, составить договор. 
      %p Узнайте о гарантиях, не стесняйтесь расспрашивать специалиста о его предыдущих работах и о том как он будет выполнять Ваше задание. 

    .clear

    