.master-list.obrash-list
  %h3
    Частые
    %br>/
    вопросы
  .clear
  .master.task.task-list.article{:style => "padding-left: 21px;"}
    .description
      %ul{:class => "question-ul"}
        %li
          %a{:href => ""} Сколько предложений я получу?
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
        %li
          %a{:href => ""} Зачем мне указывать примерный бюджет
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
  
